{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<section class="main-page">
    <h1 class="title"><a href="{% url 'home' %}">HOME</a></h1>
    <h1 class="title"><a href="{% url 'store' %}">PRODUCTS</a></h1>

    <div class="product-list">
        {% for product in products %}
        <h2 class="product-item">
            <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
        </h2>
        {% endfor %}
    </div>
</section>
{% endblock %}